# Copyright (c) 2023-2024, Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Agm Server Init
SourcePath=/usr/bin/agm_server
After=init_audio.service servicemanager.service dev-aud_pasthru_modem.device
Requires=init_audio.service servicemanager.service
BindsTo=dev-aud_pasthru_modem.device
StartLimitIntervalSec=0
StartLimitBurst=10

[Service]
User=audio
Group=audio
SupplementaryGroups=binder logd
Restart=always
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStartPre=+/bin/chown audio:audio /dev/dma_heap/qcom,audio
ExecStartPre=+/bin/chmod 0660 /dev/dma_heap/qcom,audio
ExecStart=/usr/bin/agm_server -s

[Install]
WantedBy=multi-user.target
