# Copyright (c) 2022-2025 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

[Unit]
Description=Agm Server Init
SourcePath=/usr/bin/agm_server
Requires=init_audio.service dbus.service
BindsTo=dev-aud_pasthru_modem.device
After=init_audio.service dev-aud_pasthru_modem.device dbus.service

[Service]
Type=dbus
User=audio
Group=audio
BusName=org.Qti.AgmService
Restart=on-failure
ExecStartPre=+/bin/chown audio:audio /dev/dma_heap/qcom,audio
ExecStartPre=+/bin/chmod 0660 /dev/dma_heap/qcom,audio
ExecStart=/usr/bin/agm_server -s

[Install]
WantedBy=multi-user.target
